.mainContainer{
  margin-top: 100px;
}
form > div {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.GovtIssueId {
  display: flex;
  gap: 10px;
}
.Id_Select {
  width: 40%;
}

.country ul.countryList {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.country ul.countryList li {
 padding: 5px 3px;
 font-size: large;
 cursor: pointer;
}
.country ul.countryList li:hover {
 background-color: rgb(240, 240, 236);
 }
 

#example {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}
#example td,
#example th {
  border: 1px solid #ddd;
  padding: 8px;
}

#example tr:nth-child(even) {
  background-color: #f2f2f2;
}

#example tr:hover {
  background-color: #ddd;
}
#example th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
span {
  color: red;
}
