form > div{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}
form > div div{
    display: flex;
    align-items: center;
    gap: 25px;
}